.allInputBox {
    margin: 2em;
    border: 5px solid black;
}

.center {
    text-align: center;
}

.circleDiv {
    position:absolute;
    opacity: 0.7;
}

.squareDiv {
    position: absolute;
    opacity: 0.7;
}

.rectangleDiv {
    position: absolute;
    opacity: 0.7;
}

.triangleDiv {
    position: absolute;
    opacity: 0.7;
    /* width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-right: 100px solid transparent;  */
}

.shapeBox {
    position: relative;
    padding:0px;
    height:510px;
    width:510px;
    border:5px solid black;
}